/* add your CSS here */
.picture {
    width: 300px;
    height: 200px;
    padding-bottom: .8em;
  }
  
  .trading {
    width: 300px;
    border: 1px solid #DCDCDC;
    box-shadow: 6px 6px 1px 0px #EBEBEB;
    padding-right: .2em;
    padding-left: .7em;
    padding-bottom: .6em;
  }
  
  .cardinfo {
    width: 275px;
    border: 1px solid #DCDCDC;
    padding-right: .5em;
    padding-left: .5em;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  span {
    font-weight: bold;
  }

.fact{font-style: italic;}
